.left {
	float: left;
	width: 50%;
	/* for fitting into page: */
	padding: 5% 0px 5% 0px;
}
.right {
	float: left;
	width: 50%;
	/* for fitting into page: */
	padding: 5% 0px 5% 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* setting the buttons layout */
/* (0) set the btn-group border - simple, solid black line */
.btn-group {
	border-bottom: 1px solid black;
}
/* (0) and set the last button's border as black - sometimes, we may not want this, e.g. if we have too little audio files :( */
.btn-group button:last-child {
	border-bottom: 0px;
}
/* we can activate this to keep a minimalist look
.btn-group button:first-child {
	border-top: 0px;
}
*/


.btn-group button {
  background-color: rgb(2, 200, 259); /*rgb(80, 177, 198); /* Green background */
  border: 1px solid black; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: rgb(2, 182, 236); /*rgb(85, 187, 210); /**/
}
/* setting the "contents" div */
.btn-group div#contents {
    text-align: center;
	padding-top: 10px;
	height: 36px;
	border: 1px solid black; /* Green border */
	border-bottom: none;
}
/* setting the left side: */
.left {
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0px;
	padding-bottom: 1px solid black;
}
.right {
	width: 45%;
	padding-right: 5%;
	padding-top: 0px;
	padding-bottom: 0px;
}
.left h2 {
	text-align: center;
}
.left audio {
	width: 100%;
}
.btn-group {
	overflow-y: scroll;
	height: 100%;
}
/* setting "contents" the btn-group navbar :)) ??? */
.right {
	position: relative;
}
.btn-group div#contents {
	padding-top: 10px;
	border-bottom: 1px solid black;/* */
    position: absolute;
	left: 0;
	top: 0;
	width: calc(90% - 15px);
	height: 30px;
	background-color: white;
}
.btn-group button:nth-child(2) {
	margin-top:42px;
}

/* scrollbar modification: */

/*
 *  STYLE 8
 */

/* hide all the scrollbars */
 * {
	 overflow-y: hidden;
 }

/* minor styling, for majo minimalyst work */

button:active {
	border: 1px solid whitesmoke;
}
button:after {
	border: 1px solid slate;
}

.btn-group::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 0px 0px 0px 0px;
}

.btn-group::-webkit-scrollbar
{
	width: 13px;
	background-color: #F5F5F5;
} 

.btn-group::-webkit-scrollbar-thumb
{
	border-radius: 0px 0px 0px 0px;
	background-color: black;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}