.left {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    float: left;
    margin-top: 4.5%;
    margin-left: 5.5%;
}
.left div {
    font-family: serif;
    /*  */
    display: block;
    float: right;
    width: 100%;
    text-align: right;
    vertical-align: middle;
    /* font-size: ; */
    height: 25px;
    margin-top: 10px;
    padding: 5px 5px 0 0;
    box-shadow: 0px 0px 3px 0px grey;
}
.left div:hover {
    background-color: slategrey;
    color: white;
    box-shadow: 0;
}
/* a:hover, a:click, a:active, a {
    color: black;

} */
.right {
    margin-top: 4.5%;
    margin-right: 2.5%;
    box-shadow: 0px 0px 3px 0px grey;
    display: inline-block;
    width: 61.8%;
    float: right;
    /* for typography */
    padding: 10px;
}

.right h1, .right h2, .right h3, .right h4, .right h5, .right h6 {
    text-align: center;
    font-family: sans-serif;
}
.right p {
    font-family: serif;
    font-size: 16px;
    margin-bottom: 6px;
}
.right p:before {
    content: '';
    width: 50px;
    min-height: 1px;
    display: inline-block;
    float: left;
}
.right p br:after {
    content: '';
    width: 50px;
    min-height: 1px;
    display: inline-block;
    float: left;
}
.right li {
    margin-bottom: 6px;
}
.right li:before {
    content: '';
    width: 20px;
    min-height: 1px;
    display: inline-block;
    float: left;

}
span.section {
    display: inline;
    /* color: white;
    background-color: black; */
    /* box-shadow: 0px 0px 1px 0px grey; */
    padding: 0 5px 0 5px;
    box-shadow: 0px 0px 3px 0px grey;
}





.left :nth-child(2) {
    opacity: 0.5;
}
.left :nth-child(3) {
    opacity: 0.5;
}
.left :nth-child(4) {
    opacity: 0.5;
}
.left :nth-child(5) {
    opacity: 0.5;
}
.left :nth-child(6) {
    opacity: 0.5;
}
.left :nth-child(7) {
    opacity: 0.5;
}
.left :nth-child(8) {
    opacity: 0.5;
}
