/* audio div */
#audioDiv {
	/*padding-bottom: 50px; /* for the audio's animation */
	padding-left: 5%;
	padding-right: 5%;
}
#audioDiv {
	width: 90%;
	height: 225px;
}

#audioDiv div div#audio-label {
	width: 100%;
	height: 225px;
	text-align: center;
}
#audioDiv div#audio-player {
	width: 100%;
	border-radius: 113px
}

/* audio-player styling */
#audio-player.active
{
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	transform: scale(1.05);
	border: 1px solid black;
}

#audio-player {
	height: calc(55px + 5px);
	line-height: calc(55px + 5px);
    background: whitesmoke;
	-webkit-transition:all 0.382s linear;
	-moz-transition:all 0.382s linear;
	-o-transition:all 0.382s linear;
	transition:all 0.382s linear;
	-moz-box-shadow: 2px 2px 4px 0px #006773;
	-webkit-box-shadow:  2px 2px 4px 0px #006773;
	box-shadow: 2px 2px 4px 0px #006773;
	-moz-border-radius:7px 7px 7px 7px ;
	/* -webkit-border-radius:7px 7px 7px 7px ; */
	border-radius:100px;
}




#audio-player:not(.active) #audio-bar {
	margin: 15px;
	margin-left: calc(5% + 0px);
	margin-right: auto;
	height: 30px;
	width: calc(66.8% + 0px);
	border-radius: 30px;
	position: absolute;
	display: block;
	/*  */
	background-color: lightgrey;
	/* paddin for the start button: */
}
#audio-player.active #audio-bar {
	margin: 15px;
	margin-left: calc(5% + 0px);
	margin-right: auto;
	height: 30px;
	width: 90%;
	border-radius: 30px;
	position: absolute;
	display: block;
	/*  */
	background-color: lightgrey;
	/* paddin for the start button: */
}

#audio-bar div {
	border-radius: 15px;
}

#audio-bar #play-button {
	z-index: 3;
	position: absolute;
	left: 0px;
	/* margin: 15px;
	margin-left: 5%; */
	/*  */
	background-color: white;
	opacity: 0;
	/*  */
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
#audio-bar:hover #play-button {
	position: absolute;
	left: 0px;
	/*  */
	background-color: white;
	transition: opacity 0.618s;
	opacity: 0.618;
	/*  */
	width: 30px;
	height: 28px;
	border-radius: 15px;
}

#audio-player:not(.active) #audio-bar:hover {
	width: calc(66.8% - 40px);
	padding-left: 40px;
	margin-left: calc(5% + 0px);
}
#audio-player.active #audio-bar:hover {
	width: calc(90% - 40px);
	padding-left: 40px;
	margin-left: calc(5% + 0px);
}
#audio-bar:hover #audio-scroll {
	background-color: black;
	opacity: 1;
}
#audio-bar:hover #play {
	opacity: 1;
	width: 30px;
	height: 18px;
	top: 5px;
	left: 10px;
	/* background-color: black; */
	border-style: solid;
	border-width: 15px;
	border-color: white white white black;
	border-width: 9px 0px 9px 14px;
	box-sizing: border-box;
	position: absolute;
	border-radius: 0 25px 25px 0;
	left: 11px;
}
#audio-bar:hover #section-start {
	left: 40px;
}

#audio-bar #audio-scroll {
	width: 100%;
	background-color: grey;
	opacity: 1;
}
#play-button {
	overflow-x: hidden;
	border: 1px solid black;
}

#audio-bar #section-start {
	height: 30px;
	width: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: white;
	opacity: 0.618;
}
#audio-bar #section-start .circle {
	opacity: 1;
}
#audio-bar #section-end {
	height: 30px;
	width: 30px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: white;
	opacity: 0.618;
}
#audio-bar #section-end .circle {
	opacity: 1;
}

#audio-bar #audio-scroll {
	z-index: 1;
	height: 4px;
	background-color: black;
	margin-top: 13px;
	width: calc(100% - 30px);
	margin-left: 15px;
}

#audio-bar #section-start:hover {
	transition: opacity 0.382s;
	opacity: 1;
	z-index: 3;
	overflow-x: hidden;
	overflow-y: hidden;
}

#audio-bar #section-end:hover {
	transition: opacity 0.382s;
	opacity: 1;
	z-index: 3;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* We could undertand the last .section-c.. as an "existential if" */
#audio-bar div:hover .section-circle {
	width: 30px;
	height: 60px;
	position: absolute;
	top: -15px;
	opacity: 1;
	background-color: black;
/*  */
	border-style: solid;
	border-width: 15px;
	border-color: black white black white;
	border-width: 30px 15px 30px 15px;
	box-sizing: border-box;

	border-radius: 15px 15px 15px 15px
	border: 1px solid black;

}
