#docs-board {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: calc(100% - 4px);
    margin: 0% 5%;
    /* */
    z-index: 2;
    background-color: white;
    /* -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black; */
	        box-shadow: -4px 0px 9px 0px rgb(2, 200, 259);
    border-top: 1px solid ;
    border-bottom: 3px solid black;
    box-sizing: border-box;
    border-width: 1px 3px 3px 3px;
    border-color: rgb(2, 200, 259) white black white;
}
