#text-div {
    width: 90%;
    height: 90px;
    margin-left: 5%;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

#text-div #audio-text {
    display: inline-block;
    height: 100%;
    float: right;
    width: 75%;
    font-weight: bold;
    font-family: sans-serif;
    vertical-align: middle;
    text-align: right;
    font-size: 15px;
    padding-top: 6px;
}
#text-div #audio-timer {
    width: 15%;
    margin-left: 5%;
    display: inline-block;
    height: 100%;
    font-weight: bold;
    font-size: 13px; /* BUG when the page is too small :( */
    font-family:monospace;
    vertical-align: middle;
    text-align: right;

}
/* for vertically aligning hte text: */
.textalignmiddle {
    line-height: 100%;
}
.textalignmiddle>span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
}
